Source: mygit
Section: metapackages
Priority: standard
Maintainer: Jesus Palencia <sinfallas@gmail.com>
Build-Depends: debhelper, cdbs
Standards-Version: 3.9.5
Homepage: https://sinfallas.wordpress.com
Vcs-Bzr: lp:~sinfallas/+junk/mygit

Package: mygit
Architecture: all
Depends: git, gnupg, ${misc:Depends}
Description: My Git
 Script para automatizar tareas comunes al usar git
