Source: mygit
Section: metapackages
Priority: standard
Maintainer: Jesus Palencia <sinfallas@gmail.com>
Build-Depends: debhelper, cdbs
Standards-Version: 3.9.5
Homepage: https://xanadulinux.wordpress.com
Vcs-Bzr: lp:~sinfallas/+junk/mygit

Package: mygit
Architecture: all
Depends: git
Description: MyGit
 A script to automate common tasks when using Git
